.brands-slider {
  display: flex;
  animation: slide 20s linear infinite;
}

.brand-item {
  margin: 0 15px; /* Adjust margins as needed */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Adjust based on the total width */
  }
}
